[Unit]
Description=rt-operator
# Depend on kubelet service so rt-operator can create client connection
After=kubelet.service
# If running K3S change this to:
# After=k3s.service

[Service]
ExecStart=/usr/local/bin/rt-operator /usr/local/etc/rt-operator.yaml
ExecStop=/bin/kill -INT ${MAINPID}
Restart=always
StartLimitInterval=0
RestartSec=10


[Install]
WantedBy=multi-user.target
