[Unit]
Description=rt-operator
After=network.target

[Service]
ExecStart=/root/rt-operator/rt-operator.py /root/rt-operator/rt-operator.yaml
ExecStop=/bin/kill -INT ${MAINPID}
Restart=always
StartLimitInterval=0
RestartSec=10


[Install]
WantedBy=multi-user.target
